<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="vue.js"></script>
    <title>Title</title>
    <script src="../../Users/ex-pengzhiliang001/Downloads/vue.js"></script>
</head>
<body>
<style>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
    }
    .fade-enter, .fade-leave-active {
        opacity: 0
    }
</style>
<div id="app">
    <table>
        <div id="com1">
            <span>ahshss</span>

        </div>
    </table>
    <com2 :initial-counter="99"></com2>
    <com2 :initial-counter="98"></com2>
    <com2 :initial-counter="97"></com2>
    <child my-message="hello"></child>



        <p>{{ total }}</p>
        <button-counter v-on:increment="incrementTotal"></button-counter>
        <button-counter v-on:increment="incrementTotal"></button-counter>



    <currency-input v-model="price"></currency-input>



    <currency-input
            label="Price"
            v-model="price"
    ></currency-input>
    <currency-input
            label="Shipping"
            v-model="shipping"
    ></currency-input>
    <currency-input
            label="Handling"
            v-model="handling"
    ></currency-input>
    <currency-input
            label="Discount"
            v-model="discount"
    ></currency-input>

    <p>Total: ${{ total }}</p>



    <div>
        <h1>我是父组件的标题</h1>
        <my-component>
            <p>这是一些初始内容</p>
            <p>这是更多的初始内容</p>
        </my-component>
    </div>

    <trans></trans>





</div>
<script src="https://cdn.rawgit.com/chrisvfritz/5f0a639590d6e648933416f90ba7ae4e/raw/98739fb8ac6779cb2da11aaa9ab6032e52f3be00/currency-validator.js"></script>

<script>
    var data={msg:200};
    Vue.component("com1",{
        template:"#com1"
    });
    Vue.component("com2",{
        props: ['initialCounter'],
        template:"<div><input type='text' v-model='counter'/><br/><child v-bind:my-message='counter'></child></div>",
        data:function(){
            return { counter: this.initialCounter };
        }
    });
    Vue.component('child',{
        props:['myMessage'],
//        props:{
//            myMessage:String
//        },
        template:"<p>{{normalizedSize}}</p>",
        data:function(){
            return { normalizedSize: this.myMessage+=1}
        }

    });


    Vue.component('button-counter', {
        template: '<button v-on:click="increment">{{ counter }}</button>',
        data: function () {
            return {
                counter: 0,
                price: 0,
                shipping: 0,
                handling: 0,
                discount: 0
            }
        },
        methods: {
            increment: function () {
                this.counter += 1
                this.$emit('increment')
            }
        },
    })





    Vue.component('currency-input', {
        template: '\
    <div>\
      <label v-if="label">{{ label }}</label>\
      $\
      <input\
        ref="input"\
        v-bind:value="value"\
        v-on:input="updateValue($event.target.value)"\
        v-on:focus="selectAll"\
        v-on:blur="formatValue"\
      >\
    </div>\
  ',
        props: {
            value: {
                type: Number,
                default: 0
            },
            label: {
                type: String,
                default: ''
            }
        },
        mounted: function () {
            this.formatValue()
        },
        methods: {
            updateValue: function (value) {
                var result = currencyValidator.parse(value, this.value)
                if (result.warning) {
                    this.$refs.input.value = result.value
                }
                this.$emit('input', result.value)
            },
            formatValue: function () {
                this.$refs.input.value = currencyValidator.format(this.value)
            },
            selectAll: function (event) {
                // Workaround for Safari bug
                // http://stackoverflow.com/questions/1269722/selecting-text-on-focus-using-jquery-not-working-in-safari-and-chrome
                setTimeout(function () {
                    event.target.select()
                }, 0)
            }
        }
    });

    Vue.component('my-component', {
        // 有效，因为是在正确的作用域内
        template: '<div>\
        <h2>我是子组件的标题</h2>\
        <slot>\
        只有在没有要分发的内容时才会显示。\
    </slot>\
    </div>',
        data: function () {
            return {
                someChildProperty: true
            }
        }
    })

    Vue.component('trans',{
        template:' <div><button v-on:click="show = !show">\
                Toggle\
            </button>\
            <transition name="fade">\
            <p v-if="show">hello</p>\
            </transition></div>',
        data:function (){
            return {
                show:true
            }
        }
    })

    new Vue({
        el:"#app",
        data: {
            total: 0,
            price: 0,
            shipping: 0,
            handling: 0,
            discount: 0
        },
        methods: {
            incrementTotal: function () {
                this.total += 1
            }
        },
        computed: {
            total: function () {
                return ((
                        this.price * 100 +
                        this.shipping * 100 +
                        this.handling * 100 -
                        this.discount * 100
                ) / 100).toFixed(2)
            }
        }
    })
</script>
</body>
</html>